body {
    
    background-image: url('BrucePark.jpg');
    color:teal;
}

.container-schedule {
    background: transparent;
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    
    
}

#train-data {
    background: black;
    color: white;
    padding-top: 5px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.table{
    color: white;
}

.parameters {
    background: black;
    color: red;
    border: 2px solid black;
    border-radius: 3px;
    padding-bottom: 10px;
}

#heading {
    background: black;
    color: red;
    padding-top: 9px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 10px;
}

.form-group {
    background: black;
    padding: 0px 10px 0px 10px;
}

.trainform {
    
    border: 5px;
}

.jumbotron {
    background: teal;
    color: gold;
}

.btn {
    margin-left: 10px;
}

h4 {
    margin-left: 10px;
    padding-bottom: 14px;
}
